.about-work{
   padding-top: 70px;
   padding-bottom: 85px;
   background-image:
   linear-gradient(0deg, rgba(255,255,255,-7.85), rgba(255,255,255,-7.85)), 
   url(../img/about-work-bg.jpg) ;
   background-repeat: no-repeat;
   background-size: 350%;
   background-position: top;
   position: relative;
   @media screen and (min-width: 560px){
      background-size: 265%;
   }
   @media screen and (min-width: 768px){
      background-size: 145%;
   }

}

.about-work__text{
   padding-bottom: 100px;
   border-bottom: 1px solid #E0E0E0;
   text-align: center;
   margin-bottom: 85px;
   @media screen and (min-width: 768px){
       padding-bottom: 165px;
   }
}
.about-work__title{
   color: #fff;
   margin-bottom: 30px;
}
.about-work__after-title{
   color: #fff;
   margin-bottom: 70px;
}
.about-work__video-wrap{
   margin-left: auto;
   margin-right: auto;
   @media screen and (max-width: 768px){
      display: flex;
   }
}
.about-work__video{
   
   width: 270px;
   height: 230px;
   background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
   box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
   border-radius: 10px;
   @media screen and (min-width: 560px){
      width: 400px;
      height: 330px;
   }
   @media screen and (min-width: 768px){
      width: 670px;
      height: 330px;
   }
   @media screen and (min-width: 1100px){
      width: 970px;
      height: 430px;
   }
  
}
.about-work__form-title{
   font-weight: 600;
   font-size: 18px;
   line-height: 1.38;
   text-align: center;
   margin-bottom: 10px;
   color: #000000;
   @media screen and (min-width: 768px){
      margin-bottom: 15px;
   }
   @media screen and (min-width: 1100px){
      margin-bottom: 20px;
   }
}
.about-work__form-after-title{
   text-align: center;
   margin-bottom: 15px;
   @media screen and (min-width: 768px){
      margin-bottom: 20px;
   }
   @media screen and (min-width: 1100px){
      margin-bottom: 30px;
   }
}
.about-work-form {
   
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 20px;
   @media screen and (min-width: 768px){
      margin-bottom: 25px;
   }
   @media screen and (min-width: 1200px){
      margin-bottom: 30px;
   }
   
 }
 .about-work-form__email {
   // margin-right: 12px;
    display: flex;
   text-align: center;
   justify-content: center;
   width: 100%;
   max-width: 459px;
   &:placeholder-shown{
      padding-left: 33px;
      
      font-weight: 400;
      font-size: 13px;
      line-height: 21px;
      
      /* grey */
      color: #999999;
   }
   
 
 }
 
 .about-work-form__input {
   width: 100%;
   max-width: 459px;
   max-height: 50px;
   padding-left: 33px;
   border: 1px solid #F2F2F2;
   box-sizing: border-box;
   box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
   border-radius: 30px 0px 0px 30px;
 }
 
 .about-work-form__btn {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   background: #4985FF;
   box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
   border-radius: 0px 30px 30px 0px;
   padding: 15px 5px 15px 5px;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.25;
   
   
   color: #FFFFFF;
   @media screen and (min-width: 768px){
      padding: 15px 35px 15px 25px;
      font-size: 16px;
   }
 }

.about-work__text-spam{
   text-align: center;
}