.btn-gotop-wrap {
   display: none;
   @include tablet {
     position: fixed;
     right: 100px;
     bottom: 100px;
     z-index: 100;
 
     display: block;
   }
 }
 
 .btn-gotop {
   @include tablet {
     position: relative;
     display: block;
     width: 50px;
     height: 50px;
     border-radius: 50%;
     border: 2px solid #2a2a22;
     background-color: #2a2a22;
     background-image: url('../img/our-project.png');
     background-repeat: no-repeat;
     background-position: 50% 40%;
     box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
     cursor: pointer;
     transition: opacity 0.3s linear, visibility 0.3s linear, transform 0.3s linear;
   }
 
   @include desktop {
     width: 60px;
     height: 60px;
   }
 }
 
 .btn-gotop.hidden {
   opacity: 0;
   visibility: hidden;
   transform: translateY(110px);
   pointer-events: none;
 }
 
 .btn-gotop:before,
 .btn-gotop:after {
   content: '';
   border: 1px solid #2a2a22;
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   height: auto;
   width: auto;
   border-radius: 50%;
   animation-duration: 2s;
   animation-iteration-count: infinite;
   z-index: -1;
 }
 
 .btn-gotop:before {
   animation-name: pulse_1;
 }
//  .btn-gotop:after {
//    animation-name: pulse_2;
//  }
 
//  @keyframes pulse_1 {
//    from {
//      opacity: 1;
//      transform: scale(0.9, 0.9);
//    }
 
//    to {
//      opacity: 0;
//      transform: scale(1.4, 1.4);
//    }
//  }
 
//  @keyframes pulse_2 {
//    from {
//      opacity: 1;
//      transform: scale(0.8, 0.8);
//    }
 
//    to {
//      opacity: 0;
//      transform: scale(1.7, 1.7);
//    }
//  }

#myBtn {
  display: none; 
  position: fixed; 
  bottom: 50px; 
  right: 0px; 
  z-index: 99; 
  border: none;
  outline: none; 
  background-color: #4985FF; 
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 50%; 
  font-size: 18px; 
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: opacity 0.3s linear, visibility 0.3s linear, transform 0.3s linear;
  @media screen and (min-width: 768px) and (max-width: 1100px){
    width: 50px;
    height: 50px;
    bottom: 20px; 
    right: 20px;
  }
  @media screen and (min-width: 1100px){
    width: 70px;
    height: 70px; 
    bottom: 50px; 
    right: 50px;
  }
}

#myBtn:hover {
  background-color: #315aaa; 
}
// #myBtn.hidden{
//   opacity: 0;
//    visibility: hidden;
//    transform: translateY(110px);
//    pointer-events: none;
  
// }
.gotop__icon{
  transform: rotate(270deg);
  fill: white;
  @media screen and (max-width: 1100px){
    width: 20px;
    height: 20px;
  }
}