:root {
  --for-all-color: #212121;
  --main-color: #ffffff;
  --blue-color: #2196f3;
  --after-title-color: #757575;
  --mail-color: rgba(255, 255, 255, 0.6);
  --background-footer-color: #2f303a;
  --team-color: #f5f4fa;
  --portfolio-border-color: #eeeeee;
  --border-cards-color: #000000;
  --border-header: #ececec;
  --icon-color: #afb1b8;
  --clients-color: #afb1b8;
}